<launch>
    <arg name="robot_namespace"/>
    <arg name="plan_config"/>
    <!--       -->
    
    <node pkg="fyp_api" ns="$(arg robot_namespace)" type="exploration_module" name="module" output="screen" required = "true">
		<param name="robot_name" value="$(arg robot_namespace)"/>
    	<param name="robot_map_frame" value="$(arg robot_namespace)/map"/>
    	<rosparam command="load" file="$(find fyp_api)/config/navfn.yaml"/>
   		<param name="navfn/robot_base_frame" value="$(arg robot_namespace)/base_link"/>
    </node>    
    

</launch>
